<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - monolithic_shop_core</title>
    <script src="/src/handlebars-v4.0.5.js"></script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - monolithic_shop_core</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>