@model Guid

@{
    ViewData["Title"] = "Payment";
}

<form action="/pay/create/" method="post">
    <input type="hidden" name="orderid" value="@Model"/>

    <br/>

    <span>Card Number</span>
    <input type="text" name="card.number"/>

    <br/>

    <span>City</span>
    <input type="text" name="address.city"/>
    <span>Street</span>
    <input type="text" name="address.street"/>

    <br/>

    <span>Name</span>
    <input type="text" name="user.name"/>

    <br/>

    <span>Payment Type</span>
    <select name="type">
        <option value="card">Card</option>
        <option value="transfer">Transfer</option>
    </select>
    <input type="submit" value="Pay"/>
</form>